# coverage
.coverage

# PyCharm
.idea

# Static files
*static/photos/*

# Flask
instance/
.flask_sessions/
.flaskenv

# Environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# MkDocs
docs/site

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store

# Temporary files
~$*
