# Ignore everything
*

# Except for those ending with slash (i.e. directories)
!*/
*.venv/

# And do not ignore the following file types
!.gitignore
!*.md
!*.py
!*.html
!poetry.lock
!pyproject.toml
!.pre-commit-config.yaml
!.vscode/settings.json
!alembic.ini
!migrations/script.py.mako
!.dockerignore
!docker-compose.yml
!Dockerfile*
